<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">HOME</a></li>
      <li><a routerLink="/Course" >COURSE</a></li>
      <li><a routerLink="/Student">STUDENT</a></li>
      <li><a routerLink="/Subject">SUBJECT</a></li>
      <li><a routerLink="/Teacher">TEACHER</a></li>
    </ul>
  </div>
</nav>

<main>
  <font size="5" color="Black">The Other Static Component</font>
  <router-outlet></router-outlet>
</main>